---
import BrandIcon from "../components/BrandIcon.astro";
import MainHead from "../components/MainHead.astro"
import Starfield from "../components/Starfield.astro";
import { Icon } from "astro-icon";

import '../css/style.css';
---

<html lang="en-US">
    <MainHead/>
    <body class="antialiased flex items-center justify-center h-full w-full absolute">
        <Starfield/>
        <div class="fixed text-white fill-white flex-col flex pointer-events-none">
            <div class="flex logotype flex-row items-center border-b-[0.5px] border-white border-opacity-40 pb-10">
                <BrandIcon/>
                <span class="ml-8 uppercase text-branding mona-regularwide text-2xl">the sapphire organization</span>
            </div>
            <div class="pt-10 flex flex-row justify-between">
                <span class="mona-semiboldwide text-xl uppercase w-full text-branding">coming 2023</span>
                <div class="links flex gap-5">
                    <a href="https://github.com/sapphire-organization" rel="noopener" target="_blank" class="!pointer-events-auto">
                        <Icon pack="mdi" name="github" class="h-10 hover:opacity-70 transition-opacity"/>
                    </a>
                    <a href="https://discord.gg/Rfm6d4yWVD" rel="noopener" target="_blank" class="!pointer-events-auto">
                        <Icon pack="ic" name="baseline-discord" class="h-10 hover:opacity-70 transition-opacity"/>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>