---
import BrandIcon from "../components/BrandIcon.astro";
import MainHead from "../components/MainHead.astro"
import Starfield from "../components/Starfield.astro";
import { Icon } from "astro-icon";

import '../css/style.css';
---

<html lang="en-US">
    <MainHead/>
    <body class="antialiased h-full absolute w-full flex justify-center items-center">
        <Starfield/>
        <div class="m-12 z-10">
            <div class="text-white fill-white flex-col flex">
                <div class="flex logotype items-center border-b-[0.5px] border-white border-opacity-40 pb-10 lg:text-left text-center lg:flex-row flex-col">
                    <BrandIcon/>
                    <span class="lg:mt-0 mt-10 lg:ml-6 ml-0 uppercase text-branding mona-regularwide text-base lg:text-2xl  pointer-events-none">the sapphire organization</span>
                </div>
                <div class="pt-10 flex flex-row justify-between">
                    <span class="mona-semiboldwide uppercase w-full text-branding flex items-center text-base lg:text-xl  pointer-events-none">coming 2023</span>
                    <div class="links flex gap-5">
                        <a href="https://github.com/sapphire-organization" rel="noopener" target="_blank">
                            <Icon pack="mdi" name="github" class="h-10 hover:opacity-60 transition-opacity"/>
                        </a>
                        <a href="https://discord.gg/Rfm6d4yWVD" rel="noopener" target="_blank">
                            <Icon pack="ic" name="baseline-discord" class="h-10 hover:opacity-60 transition-opacity"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>