<head>
	<meta name="keywords" content="sapphire, sapphire organization, discord mods, discord, organization"/>
	<meta name="description" property="og:description" content="Coming 2023" />
	<meta name="theme-color" content="#ffffff" data-react-helmet="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="generator" content={Astro.generator} />
	<meta name="author" content="Lorem Sapphire"/>

	<meta property="og:url" content="https://sapphire-organization.github.io"/>
	<meta property="og:image" content="https://i.imgur.com/xHBPt8A.png"/>
	<meta property="og:site_name" content="The Sapphire Organization"/>
	<meta property="og:title" content="The Sapphire Organization"/>
	<meta property="og:description" content="Coming 2023"/>
	<meta property="og:type" content="website"/>

	<link rel="icon" href="https://i.imgur.com/TwJIqZp.png" />
	<title>The Sapphire Organization</title>
	<meta charset="UTF-8" />
</head>