<head>
	<meta charset="UTF-8" />
	<meta name="description" property="og:description" content="Nothing New... Just Making Stuff" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" href="https://i.imgur.com/TwJIqZp.png" />
	<link rel="stylesheet" href="./src/css/style.css">
	<title>The Sapphire Organization</title>
</head>